<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DepartureMapper">
    <resultMap id="DepartureForFlightResultMap" type="Departure">
        <id property="id" column="id"/>
        <result property="date" column="date"/>
    </resultMap>

    <insert id="insertDeparture">
      insert into departures ("date", flight_id)
      VALUES (#{date}, #{flight.id})
    </insert>

    <select id="selectDeparturesByFlightId" resultMap="DepartureForFlightResultMap">
        select *
        from departures
        where flight_id = #{id}
    </select>

    <insert id="updateDeparture">
        insert into departures (id, "date", flight_id)
        values (#{id},#{date},#{flight.id})
        on conflict (id)
        do update set (id, "date", flight_id) = (default ,#{date},#{flight.id})
    </insert>

    <delete id="deleteDeparture" parameterType="Long">
        delete from departures where id = #{id}
    </delete>
</mapper>