<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DepartureMapper">
    <resultMap id="DepartureForFlightResultMap" type="Departure">
        <id property="id" column="id"/>
        <result property="date" column="date"/>
        <association property="flight"
                     column="flight_id"
                     select="FlightMapper.selectFlightById"/>
    </resultMap>

    <insert id="insertDeparture" parameterType="Departure" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
      insert into departures ("date", flight_id)
      VALUES (#{date}, #{flight.id})
    </insert>

    <select id="selectDeparturesByFlightId" resultMap="DepartureForFlightResultMap">
        select *
        from departures
        where flight_id = #{id}
        order by departures.date
    </select>

    <insert id="updateDeparture">
        insert into departures ("date", flight_id)
        values (#{date},#{flight.id})
        on conflict ON CONSTRAINT departures_date_flight_id_pk
        do nothing
    </insert>

    <delete id="deleteDeparture" parameterType="Long">
        delete from departures where id = #{id}
    </delete>
</mapper>