<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PeriodMapper">
    <resultMap id="PeriodResultMap" type="Period">
        <id property="id" column="id"/>
        <result property="value" column="value"/>
    </resultMap>
    <insert id="insertPeriodForFlight">
      insert into period_flight(period_id, flight_id)
      VALUES (#{periodId},#{flightId})
    </insert>
    <insert id="updatePeriodForFlight">
      insert into period_flight(period_id, flight_id)
      VALUES (#{periodId},#{flightId})
      on conflict (period_id, flight_id)
      do update set (period_id, flight_id) = (#{periodId},#{flightId})
    </insert>
    <select id="selectAllPeriods" resultMap="PeriodResultMap">
        select *
        from period
    </select>

    <select id="selectPeriodById" resultMap="PeriodResultMap">
        select *
        from period
        where period.id = #{id}
    </select>
    <select id="selectPeriodByValue" resultMap="PeriodResultMap">
        select *
        from period
        where period.value like #{value}
    </select>
    <select id="selectPeriodsByFlightId" resultMap="PeriodResultMap">
        select
        period.id,
        period.value,
        flight.flight_id,
        flight.period_id
        from period
        left join period_flight flight on period.id = flight.period_id
        where flight.flight_id = #{id}
    </select>

    <delete id="deletePeriodForFlight">
        delete from period_flight
        where period_id = #{periodId} and flight_id = #{flightId}
    </delete>
</mapper>